<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"
/>
     <script type="text/javascript" src="Js/jquery-3.5.1.min.js/" th:src="@{Js/jquery-3.5.1.min.js}"></script>
</head>
<body>
<p></p>
<p></p><p></p>
<div  >
<div class="container" layout:fragment="content">
<div class="row">
<div class="col-md-6">
<div class="panel panel-primary"
>
    <div class="panel-heading" >Ajouter Employer/update</div>

    <div class="panel-body">
        <div th:if ="${id}">
            <form th:action="@{update}" method="post" >

                <div class="form-group" >
                    <label class="control-label">Matricule=</label>
<!--<label class="control-label" th:text="${id}" name="id" th:value="${id}"></label><br>-->
      <input  type="text" class="form-control"  name="id" th:value="${id}"/>




                    <label class="control-label">Nom</label>
                    <input type="text" name="nom"  class="form-control" required="required" th:value="${nom}">




                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Fonction</label>

                                <input type="text" name="fonction"  class="form-control" required="required" th:value="${fonction}"/>
                            </div>
                        </div>

                    </div>
                    <p class="spacer"></p>

                        <button type="submit" class="btn btn-success">Update</button>




                </div>

            </form>

        </div>
        <div th:if="${id}==null">

            <form th:action="@{AjouterEm}" method="post">

                <div class="form-group" >
                    <label class="control-label">Matricule</label>

                    <label class="control-label" ></label>



                    <input type="text" name="matircule"  class="form-control" required="required" value="000">
                    <label class="control-label">Nom</label>
                    <input type="text" name="nom"  class="form-control" required="required">




                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Fonction</label>

                                <input type="text" name="fonction"  class="form-control" required="required"/>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary" >Ajouter</button>
                    <p class="spacer"></p>
                    <img th:src="@{${valider}}" style="width: 40px;"/>

                    <label th:text=${matricule}>


                    </label>
                </div>

            </form>


        </div>








    </div>

</div>
</div>

</div>
</div>
</div>

</body>
</html>