<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Taches des Employers</title>
</head>
<body>
<h2>hello</h2>
<a th:href="@{/download}" style="float: right;"><img th:src="@{/images/exel.png}" style="width: 40px;"></a>
<table>

<thead><tr>
<td>ID</td>
<td>Date</td>
<td>DB</td>
<td>DF</td>
<td>Matricule</td>
</tr>

</thead>
<tbody>
<tr th:each="tache:${taches}">
<td th:text="${tache.id}"></td>
<td th:text="${tache.dateday}"></td>
<td th:text="${tache.datedebut}"></td>
<td th:text="${tache.datefint}"></td>
<td th:text="${tache.employer.id}"></td>


</tr>

</tbody>
</table>
</body>
</html>